:root {
  --accent: 136, 58, 234;
  --accent-light: 224, 204, 250;
  --accent-dark: 49, 10, 101;
  --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), rgb(var(--accent-light)) 30%, white 60%);
}

html, body {
  font-family: 'league-gothic-1', sans-serif !important;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  line-height: 1.5 !important;
}

/* 1 league-gothic */
@font-face {
  font-family: "league-gothic-1", "league-gothic-2", "HelveticaNeue-CondensedBold", "Franklin Gothic Demi Cond", "Franklin Gothic Medium Cond", Impact, sans-serif !important;
  src: url('../../FONTS/LeagueGothic-Regular.otf') format('otf');
  font-style: normal;
  font-weight: 400;
}
/* 2 GEORGIA-font */
@font-face {
  font-family: georgia, sans-serif !important;
  src: url('../../FONTS/georgia-font/Georgia\ Regular\ font.ttf') format('otf');
  font-style: normal;
  font-weight: 400;
}

/** second font, second class **/
.georgia {
  font-family: georgia, sans-serif !important;
  font-style: normal !important;
  font-stretch: normal !important;
  font-weight: 400 !important;
}
/** fonts classes **/
.font-condensed {
  font-family: "league-gothic-1", "league-gothic-2", "HelveticaNeue-CondensedBold", "Franklin Gothic Demi Cond", "Franklin Gothic Medium Cond", Impact, sans-serif !important;
  font-weight: 900;
}
.font-stretch {
  font-family: "league-gothic-1", "league-gothic-2", "HelveticaNeue-CondensedBold", "Franklin Gothic Demi Cond", "Franklin Gothic Medium Cond", Impact, sans-serif !important;
  font-weight: bold;
  font-stretch: extra-condensed;
}

/* styling the hero content */
@media screen and (min-width: 1000px) {
  .container {
    max-width: 1000px !important;
  }
}

/* content */
.section-normal:not(.section-normal.store){
  min-height: 100vh; 
  display: flex;
  display: -moz-flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1000px;
  text-wrap: balance;
  /* border: 5px solid red; */
}

.section-normal.store {
  min-height: 100vh; 
  display: flex;
  display: -moz-flex;
  display: -webkit-flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;

  margin: 8rem auto 0;
  max-width: 1000px;
  text-wrap: balance;
}


/* footer */
.bottom-border {
  border-bottom: 4px double #e6e6e6 !important;
}

::selection, ::where(*:is(:focus, :focus-visible, :focus-within))  {
  border: 3px solid #e6e6e6 dashed !important;
}
