---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
---

<Layout title="TRSTKILLS" description='A trstkills official website'>
	<main class="min-h-screen w-full max-w-[1000px] mx-auto">
		<!-- the first content -->
		<Navbar />
		<!-- images grid 6x6 -->

		<!-- shop -->
		<div class="grid">
			<!-- x6 -->
		</div>

		<!-- contact -->
		<!-- trstkillsbmx@gmail.com -->
	</main>
</Layout>