---
import Layout from '../layouts/Layout.astro';
---

<Layout title="TRSTKILLS" description='A trstkills official website'>
	<main>
		<!-- the first content -->

		<!-- images grid 6x6 -->

		<!-- shop -->

		<!-- contact -->
		<!-- trstkillsbmx@gmail.com -->
	</main>
</Layout>