---
//imports
---

<footer class="clear-both georgia min-h-[150px] grid place-content-center border-double border-t-4">
  <div class="flex max-w-[1150px] text-center gap-2 mx-auto justify-center items-center flex-col text-2xl sm:text-3xl md:text-4xl">
    <div class="social-list my-2">
      <h1 class="flex justify-center items-center"> &copy; TRSTKILLS.NETLIFY.APP; TRSTKILLS ALL RIGHTS RESERVED.</h1>
    </div>
    <div class="privacy mt-2 flex flex-row gap-2 justify-center items-center text-gray-400">
      <p>Contact info</p>
      <hr class="w-1 h-10 mx-2 bg-[#999]">
      <p>Privacy policy</p>
    </div>
  </div>
</footer>