---

---

<div class="container">
  <p>
    🇮🇹 : trstkills nasce come un gruppo di amici che condividono la stessa passione.
    trstkills è un brand emergente che riguarda il mondo dello street art e della bmx, ci troviamo tutti i giorni preso lo skatepark di sangiacomo a trieste, al momento la bmx viene considerata poco, speriamo di poter organizzare qualche evento in futuro per far conoscere questo sport
    🇬🇧:  trstkills was born as a group of friends who share the same passion.
    trstkills is an emerging brand that concerns the world of street art and bmx, we meet every day at the sangiacomo skatepark in trieste, at the moment bmx is not considered much, we hope to be able to organize some event in the future to make this sport known
  </p>
</div>